node_modules
package-lock.json
dist
formatos/*/adicionar.php
formatos/*/editar.php
formatos/*/mostrar.php
formatos/*/buscar.php

formatos/*/add.js
formatos/*/adicionar.html
formatos/*/buscar.html
formatos/*/edit.js
formatos/*/editar.html