<div id="AppFile" class="animated fadeIn">
    <div class="row">
        <div class="col">
            <form id="form" name="form">
                <input type="hidden" name="_csrf" value="">
                <div class="form-group form-group-default required">
                    <label>ETIQUETA</label>
                    <input class="form-control required" v-model.trim="form.label" type="text" maxlength="250"/>
                </div>

                <div class="form-group form-group-default">
                    <label>CANTIDAD MÁXIMA A PERMITIR</label>
                    <input class="form-control" type="number" name="numberFiles" min="1" max="10"
                           v-model="form.numberFiles" data-rule-number="true" maxlength="2"/>
                </div>

                <div class="form-group form-group-default">
                    <label>TIPOS A PERMITIR</label>
                    <input class="form-control" type="text" name="typeFiles" v-model="form.typeFiles" maxlength="255"/>
                </div>

                <div class="form-group form-group-default required">
                    <label>OBLIGATORIO?</label>

                    <div class="radio radio-success input-group">
                        <input type="radio" name="required" id="required1" value="1" v-model="form.required"
                               class="required"/>
                        <label for="required1" class="mr-3">SI</label>

                        <input type="radio" name="required" id="required0" value="0" v-model="form.required"/>
                        <label for="required0" class="mr-3">NO</label>
                    </div>

                    <label id='required-error' class='error' for='required' style='display: none;'></label>
                </div>

                <div class="float-right">
                    <div class="form-group" id="form_buttons">
                        <button type="button" class="btn btn-danger" v-on:click="resetForm">Cancelar</button>
                        <button type="button" class="btn btn-complete" v-on:click="onSubmit">Guardar</button>
                    </div>
                    <div class="progress-circle-indeterminate d-none" id="spiner"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/views/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/views/assets/theme/assets/js/cerok_libraries/ui/globalJqueryValidate.js"></script>
<script type="text/javascript"
        src="/views/node_modules/jquery-validation/dist/localization/messages_es.min.js"></script>
<script type="text/javascript" src="/views/node_modules/vue/dist/vue.global.prod.js"></script>
<script src="/views/modules/pqr/src/pqr/modals/addEditField/js/file.js"></script>
