<div id="AppInput" class="animated fadeIn">
    <div class="row">
        <div class="col">
            <form id="form" name="form">
                <input type="hidden" name="_csrf" value="">
                <div class="form-group form-group-default required">
                    <label class="text-uppercase" data-i18n="pqr.etiqueta">Etiqueta</label>
                    <input class="form-control required" v-model.trim="form.label" type="text" maxlength="250"/>
                </div>

                <div class="form-group form-group-default">
                    <label class="text-uppercase" data-i18n="pqr.marcador_texto">Marcador de texto</label>
                    <input class="form-control" type="text" v-model.trim="form.placeholder" maxlength="250"/>
                </div>

                <div v-if="is_system==0" class="form-group form-group-default required">
                    <label class="text-uppercase" data-i18n="pqr.obligatorio">Obligatorio</label>

                    <div class="radio radio-success input-group">
                        <input type="radio" name="required" id="required1" value="1" v-model="form.required"
                               class="required"/>
                        <label for="required1" class="me-3" data-i18n="g.si">SI</label>

                        <input type="radio" name="required" id="required0" value="0" v-model="form.required"/>
                        <label for="required0" class="me-3" data-i18n="g.no">NO</label>
                    </div>

                    <label id='required-error' class='error' for='required' style='display: none;'></label>
                </div>

                <div class="float-end">
                    <div class="form-group" id="form_buttons">
                        <button type="button" class="btn btn-danger" style="margin:1px" v-on:click="resetForm" data-i18n="g.cancelar">Cancelar</button>
                        <button type="button" class="btn btn-complete" style="margin:1px" v-on:click="onSubmit" data-i18n="g.guardar">Guardar</button>
                    </div>
                    <div class="progress-circle-indeterminate d-none" id="spiner"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="/views/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="/views/assets/theme/assets/js/cerok_libraries/ui/globalJqueryValidate.js"></script>
<script type="text/javascript" src="/views/node_modules/vue/dist/vue.global.prod.js"></script>

<script src="/views/modules/pqr/src/pqr/modals/addEditField/js/mixin.js"></script>
<script src="/views/modules/pqr/src/pqr/modals/addEditField/js/input.js"></script>
