<div class="row">
    <div class="col-12">
        <form>
            <div class="form-group form-group-default required" id="group_observaciones">
                <label title="Observaciones">OBSERVACIONES: </label>
                <textarea name="observaciones" id="observaciones" rows="3" class="form-control required"></textarea>
            </div>
        </form>
    </div>
</div>

<link href="/views/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css"/>
<script src="/views/node_modules/select2/dist/js/select2.min.js" type="text/javascript"></script>
<script src="/views/node_modules/select2/dist/js/i18n/es.js" type="text/javascript"></script>
<script src="/views/modules/pqr/views/js/finish.js"></script>